/*
 * Slideshow Player
 *
 * Styles for the canvas and the player for the slideshow
 */

#slideshow canvas {
  border: 1px solid black;
  cursor: pointer;
}

#slideshow.fullscreen canvas {
  border: none;
  margin: auto;
  display: block;
}

#slideshow.no-cursor, #slideshow.no-cursor canvas {
  cursor: none;
}

#jp_container_1, #slide_navigation {
  float: left;
}

#slide_navigation {
  margin: 0 0 0 50px;
}

#footer {
  clear: both;
  padding: 50px 0 50px 0;
}